body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    height: 100vh;
    background-color: #073b4c;
    margin-bottom: 10px;
}
.main_img{
    float: left;
    margin-top: 5%;
}

.main_text{
    display: inline-block;
    margin: 5% 0 0 5%;
    color: #ffee58;
}
.main_text h2 span {
    font-size: 15px;
    color: white;
}
.main_text p {
    color: white;
    text-align: left;
    font-weight: bold;
}
.main_text h3 {
    color: #4dd0e1;
    font-size: 2em;
}
.main_text_span {
    font-size: 2em;
    color: #e91e63;
}
.main_text img {
    width: 35px;
    border-radius: 50px;
}
.main_icon_padding {
    margin-left: 10px;
}
.resume_btn {
    margin-left: 5%;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #4dd0e1;
    display: inline-block;
    border-radius: 5px;
}
.resume_btn:hover{
    background-color: #e91e63;
}
.resume_btn a {
    color: white;
    text-decoration: none;
    font-size: smaller;
    display: block;
    padding-left: 10px;
}
/* ________________________________________________________ */

.resume_grup {
    display: flex;
    justify-content: space-around;
    height: 50vh;
}

.resume_box {
    display: inline-block;
    width: 300px;
    height: 50vh;
    border: 1px solid #073b4c;
    border-radius: 20px;
    padding-left: 10px;
}
.resume_box:hover {
    border-color: #4dd0e1;
    box-shadow: 8px 8px 8px gainsboro;
}
.resume_box p {
    color: gray;
    font-size: small;
}
.resume_box a {
    font-size: small;
    color: #e91e63;
}

.read_more {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #4dd0e1;
    text-align: center;
    line-height: 40px;
}
.read_more:hover {
    background-color: #e91e63;
}
.read_more a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: small;
}